
header {
  background-color: #fff;
}

main nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 1.5rem;
  background-color: #fff;
  background-size: 100vw;
}

.flex {
  display: flex;
}

a {
  text-decoration: none;
}

main {
  position: absolute;
  background-color: #fff;
  background-image: url("../img/mobile.png");
  background-repeat: no-repeat;
  margin: 1.625rem 0;
  height: 36.697rem;
  border-bottom-left-radius: 80px;
}

h1 {
  height: 9.375rem;
  width: 15rem;
  margin: 3rem 1.2rem;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 52px;
  font-size: 32px;
  top: 114px;
  left: 24px;
}

main p {
  width: 20.438rem;
  margin: 0 1.5rem;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  /* or 150% */

  color: #344563;
}

h5 {
  margin: 0.75rem 1.5rem;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  width: 7.313rem;
  height: 1.5rem;
}

ul {
  list-style-type: none;
}

main ul {
  width: 9.75rem;
  justify-content: space-between;
  align-items: center;
  padding-left: 1.5rem;
}

main li {
  margin-left: 0;
}
